<h1> New Point</h1>

<%= form_for [:admin,@point] do |f| %>
  <p>
    <%=	f.label :latitude, "Широта" %>
    <%= f.text_field :latitude %>
  </p>
  <p>
    <%=	f.label :longitude, "Долгота" %>
    <%= f.text_field :longitude  %>
  </p>
  <p><%= f.submit "Создать точку" %></p>
<% end %>
<div>
  <%=	link_to "Вернуться назад", root_path  %>
</div>
